@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300&display=swap');

*{
    font-family: 'Mitr';
    font-weight: 100;
}

body{
    background: #5e63a9;
    background-repeat: no-repeat;
    img{
        max-width: 100%;
    }
    .wrapper-bg{
        background: url(../images/group-6356283.svg) no-repeat;
        background-size: 100%;
    }
    .wrapper-bg-service{
        background: url(../images/bg-page-service.png) no-repeat;
        background-size: 100% 100%; 
    }
}

section{
    padding: 45px 0px 35px 0px;
}

.bold-text{
    color: #FDB913;
    font-weight: 600;
}

.description{
    color: #fff;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.01em;
}

.page-title{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.align-self-center{
    align-self: center;
}

a.btn-view-more{
    color: #fff;
    width: fit-content;
    background: #FDB913;
    box-shadow: 0px 11.4564px 25px rgba(0, 0, 0, 0.08);
    border-radius: 2px 55px 55px 55px;
    padding: 18px 45px;
    text-decoration: none;
    position: relative;
    margin: 15px 0px;
    display: block;
    font-weight: bold;
    &::after{
        content: '';
        background: url(../images/Vector\ 1.png);
        background-size: 100% 100%;
        position: absolute;
        top: 0px;
        left: 100%;
        width: 30px;
        height: 30px;
    }
}

header{
    padding-top: 15px;
    .main-header{
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: inset -3px -5px 10px rgba(156, 156, 156, 0.25);
        border-radius: 48px;
        align-items: center;
        padding: 15px;
        position: relative;

        [class*="col-"] {
            align-self: center;
        }
        .grid-header{
            display: grid;
            grid-template-columns: 25% 75%;
        }
        .main-nav{
            .menu-desktop{
                background: #5D62A8;
                border-radius: 40px;
                margin-bottom: 0px;
                text-align: center;
                li{
                    display: inline-block;
                    margin: 0px 25px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: 20px 0px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: bold;
                        position: relative;
                        &::before{
                            content: '';
                            background: url(../images/mactive.png) no-repeat;
                            position: absolute;
                            left: -25px;
                            top: 5px;
                            width: 18px;
                            height: 18px;
                            background-size: 100%;
                            display: none;
                        }

                    }
                    .sub-menu{
                        position: absolute;
                        background: #fff;
                        mix-blend-mode: normal;
                        box-shadow: 0px 34px 60px rgb(0 0 0 / 25%);
                        border-radius: 48px;
                        z-index: 999;
                        width: 100%;
                        top: 155%;
                        left: 0px;
                        padding: 15px;
                        visibility: hidden;
                        li{
                            width: calc(33% - 10px);
                            float: left;
                            text-align: left;
                            text-transform: none;
                            margin: 5px;
                            border-radius: 16px;
                            padding: 8px;
                            a{
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16.9169px;
                                letter-spacing: 0.02em;
                                color: #5D62A8;
                                p{
                                    font-family: 'Lexend';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 12px;
                                    letter-spacing: 0.02em;
                                    color: #7C7C80;
                                    margin-bottom: 0px;
                                }
                                &::before{
                                    content: '';
                                    display: none !important;
                                }
                                &::after{
                                    content: '';
                                    display: none !important;
                                }
                            }
                            &:hover{
                                background: #5D62A8;
                                *{
                                    color: #fff;
                                }
                            }
                        }
                        div.m-title{
                            text-transform: uppercase;
                            font-family: 'Mitr';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 28px;
                            text-align: center;
                            color: #5D62A8;
                            margin: 10px 15px;
                            padding: 5px 0px;
                            border-bottom: 2px dashed #ccc;
                        }
                    }
                    &:hover{
                        &.sub::after{
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 25px solid transparent;
                            border-right: 25px solid transparent;
                            border-bottom: 25px solid #fff;
                            top: 145%;
                            left: 50%;
                            right: 50%;
                            transform: translate(100%,-25%);
                        }
                        a{
                            color: #FDB913;
                            &::before{
                                display: block;
                            }
                        }
                        .sub-menu{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.sec-introduce{
    margin-top: 125px;
    h3{
        color: #fff;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
    .img-scale{
        transform: scale(1.55);
    }
}

.sec-sovico-system{
    .bg-vetinh{
        background: url(../images/group-63562821.svg) no-repeat;
        background-size: 100%;
    }
    .group-circle{
        background: url(../images/group-61620.svg) no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 850px;
        position: relative;
        margin-top: 150px;
        .g-center{
            width: 145px;
            margin-top: 180px;
            position: relative;
            top: 80px;
        }
        .box-msg{
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 0px 23.15px rgba(0, 0, 0, 0.25), -23.6517px 34.65px 51.65px rgba(0, 0, 0, 0.25), inset -0.78839px 0.78839px 1.57678px rgba(255, 255, 255, 0.25), inset 5.58px -1.57678px 7.15px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            padding: 14px;
            min-width: 165px;
            max-width: 250px;
            &::before{
                content: '';
                background: url(../images/threedot.png) no-repeat;
                background-position: center;
                background-size: 100%;
                display: block;
                margin: 5px 0px;
                width: 35px;
                height: 15px;
            }
            &.i1{
                top: -30%;
                left: 50%;
            }
            &.i2{
                top: 30%;
                right: 20%;
            }
            &.i3{
                top: 100%;
                right: 25%;
            }
            &.i4{
                top: 150%;
                right: 40%;
            }
            &.i5{
                top: 120%;
                left: 30%;
            }
            &.i6{
                top: 20%;
                left: 20%;
            }
            span{
                padding: 20px;
                background: #5D62A8;
                border-radius: 30px;
                display: block;
                color: #fff;
                position: relative;
                &::before{
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: url(../images/rocket.png) no-repeat;
                    background-size: 100%;
                    background-position: center;
                    display: block;
                    position: relative;
                    right: 15px;
                }
            }
        }
    }
}

.sec-service{
    position: relative;
    [class*="col-"] {
        align-self: flex-end;
    }
    .bg{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container{
        margin-top: 150px;
    }
    .box-service{
        background: #FFFFFF;
        box-shadow: 12.7314px 10.6095px 21.219px rgba(192, 169, 137, 0.2);
        border-radius: 30px;
        padding: 40px 15px 35px 15px;
        margin: 45px 0px;
        position: relative;
        transition: height 0.5s;
        h3{
            font-weight: bold;
            font-size: 25px;
            color: #5D62A8;
        }
        .desc{
            display: none;
        }

        span.action{
            width: 65px;
            height: 65px;
            display: block;
            cursor: pointer;
            position: absolute;
            bottom: -35px;
            left: 0px;
            &.plus{
                background: url(../images/frame-7.svg);
                background-size: 100% 100%;
            }
        }

        &::after{
            content: "";
            background: url(../images/rocket.png);
            background-size: 100% 100%;
            width: 100px;
            height: 100px;
            position: absolute;
            left: 70%;
            bottom: 50%;
        }

        &.active{
            .desc{
                display: block;
            }
            span.action{
                &.plus{
                    background: url(../images/frame-8.svg);
                    background-size: 100% 100%;
                    width: 90px;
                    height: 90px;
                    bottom: -50px;
                }
            }
            &::after{
                left: 70%;
                bottom: 75%;
            }
        }
    }
}

.sec-number{
    [class*="col-"] {
       align-self: center;
    }
    img.img-center{
        transform: scale(1.2);
    }
    .pt-50{
        padding-top: 50px;
    }
    .item-num{
        color: #FFFFFF;
        position: relative;
        h3{
            font-weight: 500;
            font-size: 48px;
            letter-spacing: 0.02em;
        }
        p{
            font-size: 14px;
        }
        .icon{
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: rgba(200, 203, 247, 0.4);
            transition: all 0.5s;
            border:1px solid #fff;
            cursor: pointer;
            text-align: center;
            line-height: 60px;
            img{
                width: 24px;
                height: 24px;
            }
            &:hover{
                background: #FDB913;
            }
        }
    }
    .box-dashed{
        text-align: center;
        padding: 12px 36px;
        border: 2px dashed #FDB913;
        border-radius: 20px;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #FDB913;
    }
    h3{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 0.02em;
        margin: 25px 0px;
    }
    p{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
    }
}

.sec-new{
    [class*="col-"] {
        align-self: center;
    }
    .container-fluid{
        background: url(../images/bg-news.png) no-repeat;
        background-position: center center;
    }
    .item-new{
        padding: 30px 15px;
        background: #FFFFFF;
        border-radius: 24px;
        border: 2px solid #FFFFFF;
        transition: all 0.5s;
        &:hover{
            border: 2px solid #FDB913;
        }
        h3{
            font-size: 32px;
            font-weight: 700;
            color: #5D62A8;
        }
        p{
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #7C7C80;
        }
        img{
            border-radius: 22.1845px;
        }
        a.btn-detail{
            color: #5D62A8;
            text-align: center;
            background: #C8CBF8;
            box-shadow: 0px 44px 88px rgba(17, 17, 17, 0.08);
            border-radius: 276px;
            text-decoration: none;
            font-size: 14px;
            padding: 10px 15px;
            transition: all 0.5s;
            &:hover{
                background: #5D62A8;
                color: #fff;
            }
        }
    }
    .paginate{
        text-align: center;
        padding: 15px 0px;
        margin: 15px 0px;
        a{
            font-size: 16px;
            display: inline-block;
            background: #C8CBF8;
            border-radius: 0px 24px 24px 24px;
            padding: 16px;
            text-decoration: none;
            color: #fff;
            transition: all 0.5s;
            margin: 5px 0px;
            &:hover, &.active{
                background: #FDB913;
            }
        }
    }
}

.sec-slide-partner{
    .list-slide{
        .item-slide{
            padding: 16px;
            background: #FFFFFF;
            border-radius: 30px;
            text-align: center;
            height: 150px;
            justify-content: center;
            align-items: center;
            display: flex;
            img{
                max-height: 100%;
            }
        }
    }
    .owl-carousel {
        position: relative;
        .owl-item.active:nth-child(3){
            background: red;
        }
        .owl-nav.disabled{
            display: block;
        }
    }
    .owl-next, .owl-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px !important;
        background: none;
        outline: none;
        color: #C7CAF7 !important;
    }
    .owl-next {
        right: -5%;
        display: flex;
    }
    .owl-prev{
        left: -5%;
        display: flex;
    }
}

.sec-contact{
    .form-contact{
        display: grid;
        padding: 0px;
        background: transparent;
        border: 0px;
        overflow: hidden;
        grid-template-columns: 40% 0.1% 59.9%;
        position: relative;
        &::before{
            content: '';
            width: 45px;
            height: 45px;
            background: #414391;
            position: absolute;
            top: 50%;
            left: -25px;
            border-radius: 50%;
        }
        &::after{
            content: '';
            width: 45px;
            height: 45px;
            background: #414391;
            position: absolute;
            top: 50%;
            right: -25px;
            border-radius: 50%;
        }
        .side-left{
            padding: 35px;
            border-radius: 24px;
            background: #C7CAF7;
            color: #5D62A8;
            .form-title{
                font-weight: bold;
                font-size: 28px;
            }
            label{
                font-size: 12px;
            }
            .form-control{
                font-size: 16px;
                border-radius: 16px;
                padding: 10px 20px;
            }
            .btn-contact{
                color: #fff;
                border-radius: 16px;
                margin: 15px 0px;
                background: #5D62A8;
            }
        }
        .side-center{
            height: 90%;
        }
        .side-right{
            padding: 35px;
            border-radius: 24px;
            background: #C7CAF7;
            .d-grid{
                display: grid;
                grid-template-columns: 45% 10% 45%;
                position: relative;
                img{
                    height: 100%;
                }
                .text-h{
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 38px;
                    text-align: right;
                    letter-spacing: 0.04em;
                    color: #5D62A8;
                    transform: rotate(-90deg);
                    white-space: nowrap;
                    left: 50%;
                    right: 50%;
                    top: 75%;
                    position: absolute;
                    text-align: center;
                }
            }
            .socical-icon{
                text-align: right;
                display: block;
                padding: 25px 0px;
            }
        }
    }
}

/* PAGE SERVICE */
.p-service{
    &.bg-ufo{
        background: url(../images/group-635631523.svg) no-repeat;
        background-size: 100%;
    }
    .bg-panel2{
        background: url(../images/panel2.svg) no-repeat;
        background-size: 100%;
        background-position:center;
    }
    .box-service-category{
        background: #FFFFFF;
        box-shadow: 0px 3.63178px 49.68px rgba(45, 45, 45, 0.3), -32.0808px 32.0808px 32.0808px rgba(0, 0, 0, 0.25), inset -1.06936px 1.06936px 42.14px rgba(255, 255, 255, 0.25), inset 2.13872px -2.13872px 14.28px rgba(0, 0, 0, 0.65);
        border-radius: 24px;
        padding: 25px;
        display: grid;
        grid-template-columns: 50% 50%;
        .side-left{
            color: #5D62A8;
            padding: 10px;
            h3{
                color: #fff;
                padding: 30px 45px;
                background: #FBB613;
                border-radius: 24px;
                width: fit-content;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 45px;
            }
            ul{
                padding-left: 50px;
                li{
                    font-weight: bold;
                    list-style: none;
                    position: relative;
                    p{
                        font-weight: normal;
                        font-size: 12px;
                        color: #7C7C80;
                    }
                    &::before{
                        content: '';
                        background: url(../images/ckb-unchecked-prm.png) no-repeat;
                        background-size: 100%;
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        left: -52px;
                        top: 5px;
                    }
                    &.checked{
                        &::before{
                            background: url(../images/ckb-checked-prm.png) no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
        .side-right{
            padding: 10px;
            text-align: center;
        }
    }
    .service-detail{
        margin-top: 35px;
        h3{
            text-align: right;
            position: relative;
            margin: 45px 0px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 28px;
            color: #FFFFFF;
            &::before{
                content: '';
                background: url(../images/group-635631524.svg) no-repeat;
                background-size: 100%;
                width: 65px;
                height: 65px;
                position: absolute;
                left: 0px;
            }
        }
        .content{
            padding: 40px 32px;
            background: #5D62A8;
            box-shadow: 0px 3.63178px 39.68px rgba(255, 255, 255, 0.46), 32px 32.0808px 70px rgba(0, 0, 0, 0.28), inset -1.06936px 1.06936px 2.13872px rgba(255, 255, 255, 0.25), inset 2.13872px -2.13872px 4.27744px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            p{
                font-weight: 500;
                font-size: 22px;
                letter-spacing: 0.01em;
                color: #FDB913;
            }
            ul{
                padding-left: 50px;
                li{
                    color: #FFFFFF;
                    font-weight: 500;
                    list-style: none;
                    position: relative;
                    p{
                        color: #dfdcdc;
                        font-size: 14px;
                    }
                    &::before{
                        content: '';
                        background: url(../images/ckb-uncheck.png) no-repeat;
                        background-size: 100%;
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        left: -52px;
                        top: 5px;
                    }
                    &.checked{
                        &::before{
                            background: url(../images/ckb-checked.png) no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
}

.p-contact{
    color: #fff;
    .col-lg-4{
        div{
            padding: 35px 10px;
            text-align: center;
            font-family: 'Lexend';
            font-size: 15px;
            min-height: 202px;
            vertical-align: middle;
            display: grid;
            margin-bottom: 15px;
            &.bg-addr{
                background: #F16682;
                border-radius: 20px;
            }
            &.bg-hotline{
                background: #9ACA3C;
                border-radius: 20px;
            }
            &.bg-email{
                background: #FDB913;
                border-radius: 20px;
            }
            p{
                margin-bottom: 0px;
            }
        }
    }
}

.p-study{
    .caseitem{
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(30px);
        border-radius: 30px;
        margin: 15px 0px;
        filter: drop-shadow(32px 32.0808px 70px rgba(0, 0, 0, 0.28));
        img{
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            max-height: 270px;
            width: 100%;
            object-fit: cover;
        }
        .grid{
            padding: 10px;
            .title{
                width: 100%;
                .name{
                    color: #F16682;
                }
                .text-desc{
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            .detail{
                display: none;
                ul{
                    padding-left: 0px;
                    li{
                        font-size: 14px;
                        list-style: none;
                        position: relative;
                        padding-left: 15px;
                        &::before{
                            content: '';
                            background: url(../images/uncheck.svg) no-repeat;
                            width: 20px;
                            height: 20px;
                            background-size: 100%;
                            left: -8px;
                            top: 2px;
                            position: absolute;
                        }
                        &.active::before{
                            background: url(../images/check.svg) no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
            &.open{
                display: grid;
                grid-template-columns: 50% 50%;
                .detail{
                    display: block;
                }
            }
        }
    }
}

footer {
    .footer{
        background: url(../images/bg-footer.png);
        background-size: 100% 100%;
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            letter-spacing: 0.02em;
            color: #5D62A8;
            margin-bottom: 5px;
        }
    }
    .copyright{
        color: #fff;
        padding: 15px 0px;
        background: #5D62A8;
        text-align: center;
        font-size: 16px;
    }
}