body{
    color: #fff;
    background: #5D62A8;
    overflow-x: hidden;
    .wrapper{
        background: url(../images/bg.png) no-repeat;
        background-size: 100% 100%;
        &.service{
            background: url(../images/bg-service.png) no-repeat;
            background-size: 100%; 
        }
        &.contact{
            background: url(../images/bg-contact.png) no-repeat;
            background-size: 100%; 
        }
        &.casestudy{
            background: url(../images/bg-project.png) no-repeat;
            background-size: 100%; 
        }
    }
}
img{
    max-width: 100%;
}
a{
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
.clearfix {
    clear: both;

}
.main-header{
    position: fixed;
    top: 25px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 999;
    .main-nav{
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset -3px -5px 10px rgba(156, 156, 156, 0.25);
        border-radius: 48px;
        padding: 15px;
        position: relative;
        .logo{
            width: 30%;
        }
        .menu{
            width: 70%;
            background: #5D62A8;
            border-radius: 40px;
            .list{
                padding-left: 0px;
                margin-bottom: 0px;
                text-align: center;
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 15px 0px;
                    width: 20%;
                    a{
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Mitr';
                        font-size: 16px;
                        position: relative;
                        transition: all 0.2s;
                    }
                    &:hover{
                        a{
                            color: #FDB913;
                            &::before{
                                content: '';
                                background: url(../images/active.svg) no-repeat;
                                width: 25px;
                                height: 25px;
                                position: absolute;
                                top: 2px;
                                left: -25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-title{
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    .bold{
        color: #FDB913;
    }
}
.main-desc{
    font-family: 'Lexend';
    color: #fff;
}
.btn-read-more{
    background: #FDB913;
    box-shadow: 0px 11.4564px 25px rgba(0, 0, 0, 0.08);
    border-radius: 2.27652px 55px 55px 55px;
    color: #fff;
    padding: 22px 40px;
    position: relative;
    display: inline-block;
    &::after{
        content: '';
        background: url(../images/vector-14.svg) no-repeat;
        background-size: 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -20px;
        right: -20px;
    }
}
/* css for homepage */
.page{
    padding-top: 120pt;
}
.page-home{
    .introduce{
        margin: 170pt 0pt;
        .container{
            position: relative;
        }
        .group{
            position: absolute;
            right: -15%;
            width: 80%;
            background: url(../images/group-circle-home.svg) center no-repeat;
            background-size: 100%;
            text-align: center;
            align-self: center;
        }
    }
    .ecosystem{
        margin: 50pt 0pt;
        .group{
            margin-top: 55pt;
            text-align: center;
            position: relative;
            background: url(../images/bg-ecosystem.svg) no-repeat;
            background-size: 100%;
            .g-center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-95%);
            }
        }
    }
    .services{
        margin: 50pt 0pt;
        .group{
            background: url(../images/bg-service-1.svg) no-repeat;
            [class*="col-"]{
                align-self: flex-end;
            }
            .box{
                position: relative;
                background: #FFFFFF;
                box-shadow: 12.7314px 10.6095px 21.219px rgba(192, 169, 137, 0.2);
                border-radius: 30px;
                color: #5D62A8;
                padding: 25px 15px;
                margin: 35pt 0px;
                cursor: pointer;
                .name{
                    font-family: 'Mitr';
                    font-style: normal;
                    font-size: 30px;
                }
                .desc{
                    display: none;
                    transition: all 0.3s ease-in;
                }
                .button{
                    width: 75px;
                    height: 75px;
                    background: url(../images/plus.svg) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    bottom: -55px;
                    left: 0px;
                    cursor: pointer;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 75px;
                    height: 75px;
                    background: #fff url(../images/rocket.svg) center center no-repeat;
                    box-shadow: inset 0px 7px 20px rgba(0, 0, 0, 0.1);
                    border-radius: 15px;
                    background-size: 90%;
                    top: -35px;
                    right: 15px;
                }
                &.active{
                    .button{
                        background: url(../images/right.svg) no-repeat;
                        background-size: 100%;
                        width: 100px;
                    }
                    .desc{
                        display: block;
                    }
                }
            }
        }
    }
    .numbers{
        margin: 50pt 0pt;
        background: url(../images/bg-number.svg) no-repeat;
        position: relative;
        [class*="col-"]{
            align-self: center;
        }
        .item{
            display: grid;
            grid-template-columns: 70% 30%;
            font-size: 48px;
            font-weight: 300;
            font-family: 'Mitr';
            align-items: center;
            color: #FDB913;
            p{
                font-size: 16px;
                font-family: 'Lexend';
                font-style: normal;
                color: #F1F1F1;
            }
            .icon{
                width: 75px;
                height: 75px;
                background: rgba(200, 203, 247, 0.4);
                border-radius: 50%;
                border: 1px solid #fff;
                transition: all 0.3s;
                text-align: center;
                cursor: pointer;
                img{
                    width: 25px;
                    height: 25px;
                    margin-top: -5px;
                }
                &:hover{
                    background: #FDB913;
                    border-color: #5E63A9;
                }
            }
        }
        .text-border{
            color: #FDB913;
            border: 2px dashed #FDB913;
            padding: 15px;
            text-align: center;
            border-radius: 20px;
            font-weight: bold;
        }
        &::after{
            content: '';
            background: url(../images/frame.svg) no-repeat;
            background-size: 100%;
            position: absolute;
            bottom: 0px;
            right: 5%;
            width: 150px;
            height: 150px;
        }
        .bg-number{
            position: relative;
            text-align: center;
            margin-top: 75pt;
            .bg{
                width: 70%;
            }
            .phone{
                position: absolute;
                top: -2%;
                left: -5%;
                height: 100%;
                transform: scale(1.25);
            }
        }
        .vector-01{
            position: absolute;
            top: 80%;
            img{
                width: 800px;
                max-height: 100%;
            }
        }
    }

    .news{
        margin: 50pt 0pt;
        position: relative;
        [class*="col-"]{
            align-self: center;
        }
        .list{
            z-index: 10;
            position: relative;
            right: -5%;
            .item{
                padding: 40px 20px;
                background: linear-gradient(0deg, #F3F8FE, #F3F8FE);
                border-radius: 24px;
                border: 3px solid #fff;
                .name{
                    font-family: 'Mitr';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    color: #5D62A8;
                }
                p{
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    color: #7C7C80;
                }
                .more{
                    padding: 12px 40px;
                    background: linear-gradient(0deg, #C8CBF7, #C8CBF7);
                    box-shadow: 0px 44.369px 88.7379px rgba(17, 17, 17, 0.08);
                    border-radius: 27.7306px;
                    font-size: 16px;
                    color: #5D62A8;
                    transition: all 0.3s;
                    &:hover{
                        background: #5D62A8;
                        color: #fff;
                    }
                }
                &:hover{
                    border-color:#FDB913;
                }
            }
        }
        .pagination{
            margin: 15pt 0px;
            text-align: center;
            a{
                color: #fff;
                padding: 10px 16px;
                background: linear-gradient(0deg, #C8CBF7, #C8CBF7);
                border-radius: 0px 24px 24px 24px;
                margin: 0px 5px;
                &:hover,&.active{
                    background: #FDB913;
                }
            }
        }
    }

    .galaxys{
        margin: 50pt 0pt;
        .group{
            position: relative;
            &::after{
                content: "";
                width: 135px;
                height: 120px;
                background: url(../images/form-right.svg) no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 0%;
                right: -20%;
            }
        }
    }
}

.form-contact{
    color: #5D62A8;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        background: #4D5DA2;
        border-radius: 50%;
        top: 50%;
        left: -25px;
        z-index: 9;
    }
    &::after{
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        background: #4D5DA2;
        border-radius: 50%;
        top: 50%;
        right: -25px;
        z-index: 9;
    }
    .name{
        font-family: 'Mitr';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0.02em;
        color: #5D62A8;
    }
    .row{
        margin: 0px;
    }
    [class*="col-"]{
        background: #C7CAF7;
        border-radius: 20px;
        padding: 35px;
    }
    .form-group{
        margin-bottom: 0px;
    }
    label{
        color: #5D62A8;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }
    .form-control{
        background: #F1F1F1;
        border-radius: 16px;
        padding: 12px 24px;
        font-size: 15px;
    }
    .btn-block{
        margin-top: 15px;
        border-radius: 16px;
        background: #5D62A8;
        color: #fff;
        padding: 12px 24px;
    }
    .banner{
        background: url(../images/form.svg) no-repeat;
        background-size: 100% 100%;
        text-align: center;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        img{
            width: 80%;
            margin: auto;
        }
    }
    .social{
        float: right;
    }
}

.page-contact{
    background: url(../images/gr-contact-01.svg) no-repeat;
    background-position: center center;
    background-size: 100%;
    position: relative;
    &::after{
        content: '';
        background: url(../images/gr-contact-bot.svg) no-repeat;
        background-size: 100% 100%;
        width: 500px;
        height: 400px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    &::before{
        content: '';
        background: url(../images/gr-contact-top.svg) no-repeat;
        background-size: 100% 100%;
        width: 500px;
        height: 400px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .box{
        border-radius: 20px;
        display: grid;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        padding: 25px;
        height: 200px;
        margin: 25px 0px;
        &.locate{
            background: #F16682;
        }
        &.phone{
            background: #9ACA3C;
        }
        &.mail{
            background: #FDB913;
        }
        p{
            margin-bottom: 0px;
        }
    }
}

.page-service{
    background: url(../images/gr-service-center.svg) center center no-repeat;
    background-size: auto;
    position: relative;
    &::after{
        content: '';
        background: url(../images/gr-service-top-right.svg) no-repeat;
        background-size: 100% 100%;
        width: 500px;
        height: 400px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    &::before{
        content: '';
        background: url(../images/gr-service-top-left.svg) no-repeat;
        background-size: 100% 100%;
        width: 500px;
        height: 400px;
        position: absolute;
        top: 5%;
        left: -2%;
    }
    .gr-moon{
        position: absolute;
        top: 7%;
        left: 0px;
    }
    .box{
        margin: 25px 0px;
        .name{
            text-transform: uppercase;
            margin: 45px 0px;
            width: 100%;
            text-align: right;
            position: relative;
            font-size: 28px;
            &::before{
                content: '';
                background: url(../images/title-service.svg) no-repeat;
                background-size: 100%;
                width: 80px;
                height: 80px;
                left: 0px;
                top: -20px;
                position: absolute;
            }
        }
        .content{
            padding: 40px 32px;
            border-radius: 24px;
            background-color: #5d62a8;
            box-shadow: 0 3.631784200668335px 39.68px rgb(255 255 255 / 46%), 32px 32.08081817626953px 70px rgb(0 0 0 / 28%), -1.069360613822937px 1.069360613822937px 2.14px rgb(255 255 255 / 25%) inset, 2.138721227645874px -2.138721227645874px 4.28px;
            .list{
                padding-left: 0px;
                .title{
                    color: #FDB913;
                    font-size: 24px;
                }
                li{
                    position: relative;
                    list-style: none;
                    color: #F1F1F1;
                    font-size: 16px;
                    padding-left: 50px;
                    .head{
                        font-size: 24px;
                        font-weight: 500;
                        margin-bottom: 0px;
                        color: #fff;
                    }
                    &.checked{
                        &::before{
                            content: '';
                            position: absolute;
                            background: #fff url(../images/checked.svg) center center no-repeat;
                            background-size: 75%;
                            width: 42px;
                            height: 42px;
                            left: 0px;
                            top: 10px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
    .galaxy{
        background: url(../images/bg-service-galaxy.svg) no-repeat;
        background-size: 100%;
        background-position: bottom;
        position: relative;
        &::after{
            content: '';
            background: url(../images/gr-moon-left.svg) no-repeat;
            background-size: 100% 100%;
            width: 250px;
            height: 250px;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }
}

.page-casestudy{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0px;
        top: 5%;
        background: url(../images/gr-case-man.svg) no-repeat;
        width: 450px;
        height: 450px;
        background-size: 100% 100%;
    }
    &::before{
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        background: url(../images/gr-top-right.svg) no-repeat;
        width: 350px;
        height: 350px;
        background-size: 100% 100%;
    }
    .box{
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        margin: 25pt 0px;
        .content{
            padding: 15px;
            color: #000;
            text-transform: uppercase;
            .name{
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                color: #F16682;
            }
            .text{
                font-family: 'Lexend';
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .botman{
        position: relative;
        &::after{
            content: '';
            background: url(../images/bottom-man.svg) no-repeat;
            background-size: 100% 100%;
            width: 400px;
            height: 450px;
            position: absolute;
            bottom: -5%;
            right: 0px;
            z-index: 5;
        }
    }
}

.footer{
    color: #5D62A8;
    background: url(../images/bg-footer.svg) no-repeat;
    background-size: 100%;
    padding-top: 35pt;
    margin-top: 25pt;
    font-size: 16px;
    z-index: 10;
    .copyright{
        color: #fff;
        text-align: center;
        background: #5D62A8;
        padding: 15px 0px;
    }
}